

.item_container {
	padding: 20px;
	background: #ccc;
	overflow: hidden;
}

.item_list > ul, .item_container > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.item_list > ul > li, .item_container > ul > li {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
}

.item_list {
}

.build_container {
}

ul > li > .item_del {
display: none;
position: absolute;
right: 2px;
font-size: 1.4em;
overflow: hidden;
}

ul > li:hover > .item_del {
	display: inline;
}